@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* 원하는 테마 */
@import "primereact/resources/primereact.min.css"; /* PrimeReact 기본 스타일 */
@import "primeicons/primeicons.css"; /* PrimeIcons 스타일 */

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  /* overflow: hidden; */
  background-color: #030f0b;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
