/* 대시보드 프론트엔드 퍼블리싱 구축 프리랜서 Olive */
/* https://blog.naver.com/webdesign_yumeekime */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* 원하는 테마 */
@import "primereact/resources/primereact.min.css"; /* PrimeReact 기본 스타일 */
@import "primeicons/primeicons.css"; /* PrimeIcons 스타일 */

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  overflow: hidden;
  background-color: #030f0b;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* scroll custom */
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #041c19;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 200px;
  cursor: default;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}

.p-progressbar-indeterminate .p-progressbar-value::after,
.p-progressbar-indeterminate .p-progressbar-value::before {
  background-color: #074e3b;
}

/* neumorphism custom style*/
.neumorphism-1 {
  background: linear-gradient(
    145deg,
    rgba(7, 35, 30, 0.9),
    rgba(0, 14, 12, 0.8)
  );
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8),
    -5px -5px 14px rgba(32, 162, 149, 0.3);
  /* WebKit (Safari, Chrome, Opera) */
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8),
    -5px -5px 14px rgba(32, 162, 149, 0.3);
  /* Firefox */
  -moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8),
    -5px -5px 14px rgba(32, 162, 149, 0.3);
}

.neumorphism-2 {
  background: #000e0f;
  color: #fff;
  border: 1px solid #032b24;
}
