@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* 원하는 테마 */
@import "primereact/resources/primereact.min.css"; /* PrimeReact 기본 스타일 */
@import "primeicons/primeicons.css"; /* PrimeIcons 스타일 */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
